body {
  background-color: #DDA0DD;
}
img {
  width: 400px;
  height: 500px;
}
p { font-size: 20px;}
h1 {
  text-align: center;
}

p {
  font-family: 'Anton'
}
hr {border-style: none;
border-top-style: dotted;
width: 30%;
align: center;
size: 50px;}
